[user]
	email = safu9.dev@gmail.com
	name = safu9
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[rebase]
	autosquash = true
[pull]
	ff = only
[alias]
	a = add
	aa = add .
	b = branch
	c = commit
	ca = commit --amend
	can = commit --amend --no-edit
	cf = commit --fixup
	co = checkout
	cob = checkout -b
	d = diff
	dc = diff --cached
	ds = diff --staged
	f = fetch
	fo = fetch origin
	l = log
	p = push
	pf = push --force-with-lease
	pu = push --set-upstream
	puo = push --set-upstream origin
	pp = pull --prune
	r = reset
	rh = reset --hard
	rhh = reset --hard HEAD
	ri = rebase -i
	rs = restore
	rss = restore --staged
	s = status
	st = stash
	std = stash drop
	stp = stash pop
	stu = stash -u
	sw = switch
	swc = switch -c
	t = log --graph --oneline --all
	tree = log --graph --oneline --all
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
