[user]
	email = safu9.dev@gmail.com
	name = safu9
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[rebase]
	autosquash = true
[pull]
	ff = only
[push]
	autoSetupRemote = true

[alias]
	a = add
	aa = add -A
	b = branch
	bd = branch -d
	bdf = branch -d --force
	bm = branch -m
	c = commit
	ca = commit --amend
	can = commit --amend --no-edit
	carn = commit --amend --reset-author --no-edit
	cf = commit --fixup
	cm = commit -m
	co = checkout
	cob = checkout -b
	cod = checkout develop
	com = checkout main
	cp = cherry-pick
	d = diff
	dc = diff --cached
	ds = diff --staged
	f = fetch
	l = log
	lg = log --graph --oneline --all
	m = merge
	mf = merge --ff-only
	mn = merge --no-ff
	mdf = merge develop --ff-only
	mdn = merge develop --no-ff
	mmf = merge main --ff-only
	mmn = merge main --no-ff
	p = pull
	ps = push
	psf = push --force-with-lease
	r = reset
	rh = reset --hard
	rhh = reset --hard HEAD
	rb = rebase
	rba = rebase --abort
	rbc = rebase --continue
	rbi = rebase -i
	rbd = rebase develop
	rbm = rebase main
	rs = restore
	rss = restore --staged
	s = switch
	sc = switch -c
	sd = switch develop
	sm = switch main
	ss = status
	st = stash -u
	stl = stash list
	stp = stash pop

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
